

* {
  font-family: Verdana, Tahoma, Arial;
}

body {
    font-size: 18px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;

  width: 50%;
  margin: auto;

}

.main {
  width: 100%;
}

.year {
  width: 90%;
  margin: auto;
}

.OO {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;

  margin-left: 10%;
  margin-right: 10%;
}

.OO .OO_code {
  width: 20%;
}

.OO .OO_name {
  width: 60%;
}

.OO .OO_links {
  width: 20%;
}

.OO_links a {
  margin-left: 2%;
  margin-right: 2%;
}

footer {
  width: 100%;
  margin-top: 2rem;
  height: 0.5rem;
  background-color: black;
}

